body {
    text-align: center;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 800px;
    gap: 72px;
    padding: 14px;
    width: 100%;
}
h1 {
    font-weight: 3.0rem;
    font-size: 52px;
}
nav .email {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin-top: 0;
    padding: 2px;
}

hr {
    border: 1px solid black;
    border-radius: 100%;
    margin-top: 12px;
}
